<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Jottings.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E93A37CD1D63F885007C2BB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E93A37E41D63F885007C2BB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E93A37EF1D63F885007C2BB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
